@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(110, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-shadow: 3px 3px 8px rgb(0, 255, 242);
    padding: 10px;
}